<configuration>
  <appSettings>
    <add key="Browser" value="Firefox" />

    <!-- <add key="GridPath" value="" /> -->

    <add key="SiteUrl" value="www.example.com" />

    <add key="PomlDir" value="../../../ProjectName/PomlFolder" />

    <add key="PrintScreenDir" value="../../../ProjectName/ScreenShots" />
  </appSettings>
</configuration>