<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LinqToPoml" version="1.0.0.3" targetFramework="net40" />
  <package id="Selenium.Chloride" version="1.0.0.2-alpha" targetFramework="net40" />
  <package id="Selenium.Support" version="2.37.0" targetFramework="net40" />
  <package id="Selenium.WebDriver" version="2.37.0" targetFramework="net40" />
</packages>